.home{
    background-color: #394867;
    position: relative;
    left:30px;
    color:grey;
    box-sizing: border-box;
    height: 400px;
    width: 250px;
    border:2px solid #394867;
    border-radius: 20px;

}

.sell-box{
    position: absolute;
    padding: 20px;
    color:#9BA4B5;
    top:30px;
    font-size: 1.5rem;
}

span {
    line-height: 1.5;
}
.sellDropdown{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1;
}


.sellDropdown option {
    /* styles for the options in the dropdown list */
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    padding:20px;
  }




